.cards {
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  margin: 20px 0 0;
  padding: 0;
  gap: 40px 20px;
  justify-content: center;
  list-style-type: none;
}

@media screen and (max-width: 630px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__list {
    row-gap: 20px;
  }
}
