.card {
  margin: 0 auto;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  cursor: pointer;
  transition: opacity 1s linear;
  opacity: 1;
}

.card__image:hover {
  opacity: 0.8;
}

.card__delete-button {
  background-image: url(../images/bin_icon.svg);
  background-size: 32px 32px;
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/bin_icon_hover.svg);
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px 0 0;
}

.card__caption {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/like_icon.svg);
  background-size: 23px 20px;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 23px;
  opacity: 0.4;
  border: none;
  transition: opacity 1s linear;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like_icon_hover.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.5;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__caption {
    font-size: 16px;
    max-width: 265px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
  }
}
