.footer {
  margin: 0;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  max-width: 1280px;
}

.footer__copyright {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  opacity: 0.7;
}
